<style>
 .card {
      border-radius: 4px;
      border: 1px solid rgb(206, 45, 72);
      background-color: #fafafa;
      width: 400px;
      margin: 0 8px 16px;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
      font-size: 18px;
    }

    .card-header{
        background-color: rgb(206, 45, 72);
        color:white;
        
    }
  

</style>

<div class="card">
    <div class="card-header"><h4>Details</h4></div>

        <ul class="list-group list-group-flush"  *ngFor="let item of details | keyvalue: keepOrder">
            <li class="list-group-item">
                <div class="row">  
                    <div class="col-4">{{item.key}}:</div> 
                    <div class="col"><b> {{item.value}}</b></div>
                 </div>
            </li>
        </ul>
   
</div>
